<footer class="md-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">All rigths are reserved !</small>
      </div>
      
      <div class="col-6 col-md">
        <p>Privacy policy</p>
      </div>
      <div class="col-6 col-md">
        <p><%= link_to 'Contact US', new_question_path %></p>
      </div>
    </div>
  </div>
</footer>