<header class="mb-5">
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #20c020" >
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link" style="color: #200040 ">LOGIN??</a></li>
      </ul>
    </div>
  </nav>
</header>